<CascadingAuthenticationState>
    <Router AppAssembly="typeof(MauiProgram).Assembly"
            AdditionalAssemblies="new[] { typeof(MauiBlazorIdentity.Shared.Components.Pages.Login).Assembly }"
            NotFoundPage="typeof(Pages.NotFound)">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <p role="alert">Vous n'êtes pas autorisé à accéder à cette ressource.</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
    </Router>
</CascadingAuthenticationState>
